.container_menu-bar{
    display: flex;
    justify-content: space-around;
    color: white;
    height: max-content;
    width: auto;
    padding: 15px;
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container_menu-bar a{
    text-decoration: none;
}

.menu-bar_links{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.menu-bar_links>img{
    width: 70px;
    height: 70px;
}
.menu-bar_links>ul{
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

.menu-bar_socials ul{
    padding: 0;
    display: flex;
    width: 15vw;
    justify-content: space-between;
    list-style: none;
}
.menu-bar_socials> ul li a img{
    width: 30px;
    height: 30px;
}