/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
}
*{
    border: 1px solid greenyellow;
    background-color: black;
    color:white;
    margin: 0 auto;
    padding: 10px;
}